.Snake-board {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 padding-top: 30px;
 background: gray;
}

.Snake-row {
  display: flex;
  flex-direction: row;
}

.tile {
  width: 25px;
  height: 25px;
}

.snake {
  background: purple;
}

.food:after {
  content: "🍫";
}
