.Snake-board {
  position: relative;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 padding-top: 30px;
 background: gray;
}

.Snake-row {
  display: flex;
  flex-direction: row;
}

.Game-over {
  position: absolute;
  color: red;
  font-weight: bold;
  background: black;
  padding: 10px;
  font-size: 45px;
}

.tile {
  width: 25px;
  height: 25px;
}

.snake {
  background: purple;
}

.food:after {
  content: "🍫";
}

.obstacle {
  background: blue;
}

.Error {
  color: red;
}
